<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DB" connectionString=" Data Source=95.131.149.21;Initial Catalog=tbd_71_04;Persist Security Info=True;User ID=tbd_71_04;Password=519265"></add>
	</connectionStrings>
</configuration>